body
{
    background-color: white;
    font-size: 18px;
    color: black;
}

h1
{
    font-size: 3vw;
}

.title
{
    color: cyan;
    background-color: gray;
    /*border:2px double red;*/
    text-align: center;
    font-size: 5vw;
}

.center
{
    text-align: center;
}

.right
{
    text-align: right;
}

.underline
{
    text-decoration: underline;
}

.blue
{
    color: blue
}

.imageHeight
{
    height: 40px;
}

.format
{
    margin: auto;
    width: 90%;
}

.intro
{
    padding: 20px 0px;
    font-size: 2.08vw;
    background-color: lightcyan;
}

.memories
{
    padding: 0px 0px;
    font-size: 1.08vw;
}

.indent
{
    padding-left: 50px;
}

.imageR
{
    width: 25vw;
    height: auto;
    float:right;
    padding-left: 50px;

}

.imageL
{
    width: 25vw;
    height: auto;
    float:left;
    padding-right: 50px;

}

.subtitle
{
    font-size: 2vw;

}

h1
{
    font-size: 25;
}